body {
	font-size: .875rem;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
 * Sidebar
 */
.sidebar {
	min-height: 780px;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media ( max-width : 767.98px) {
	.sidebar {
		top: 5rem;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #727272;
}

.sidebar .nav-link.active {
	color: #2470dc;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*회원체크 form*/
.mb-3 {
	margin-bottom: 5px !important;
}
/* 수정 form */
form {
	width: 900px;
}

th {
	text-align: center;
}

td {
	padding: 14px 30px !important;
}

button {
	font-size: small !important;
	margin-left: 20px !important;
}

#pwChBtn {
	position: relative;
	left: 165px;
	margin-top: 20px;
}

.usermodify-foot {
	margin-top: 30px;
	text-align: center;
}

/* 캠핑장 예약 조회 */
#button-addon2 {
	margin-left: -1px !important;
}

#reserveList {
	padding-top: 30px;
	padding-bottom: 10px;
}

#useageList {
	padding-top: 30px;
	padding-bottom: 10px;
}

#rlist {
	padding-left: 11px;
}

#ulist {
	padding-left: 11px;
}

#reservation-detail {
	width: 354px;
	margin-bottom: 20px;
	margin-right: 50px;
	padding: 0;
	text-align: center;
}

#reservation-detail>img {
	height: 220px;
}

#reservationStat {
	background-color: #ebebeb;
	padding: 2px 9px;
	border-radius: 4px;
	position: relative;
	bottom: 10px;
}

#campsiteName {
	margin-top: 5px;
}

/* 예약내역 */
#reserveDte {
	padding-top: 30px;
	padding-bottom: 20px;
}

.col-sm-2 {
	padding-bottom: 10px;
	opacity: 0.5;
}

#pay {
	padding-top: 30px;
}

#pay .row .h5 {
	padding-bottom: 17px;
}

#price {
	color: #e61c51;
}

#cancelBtn {
	position: relative;
	top: 30px;
	right: 20px;
}
/* 주문목록 */
.orderContainer {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	max-width: 900px;
	margin-top: 30px;
}

.orderContainer>.card>.row>.col-md-9>.row>img {
	width: 160px;
	height: 140px;
	border: none;
	margin-left: 10px;
}

.card>.row>.col-md-9 {
	border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.orderdate {
	font-weight: 500;
	font-size: large;
	padding-top: 9px;
	padding-left: 40px;
}

.deliveryStat {
	font-weight: 500;
	font-size: large;
	padding: 10px 0 5px 10px;
}

.orderContainer>.card {
	max-width: 900px;
	margin: 10px 30px 20px 30px;
	padding-left: 10px;
}

.col-md-9>.row {
	margin-bottom: 30px;
}

.orderName {
	padding-top: 3px;
	font-size: 17px;
}

.orderInfo {
	padding-top: 10px;
	font-size: 16px;
}

#addCart {
	position: relative;
	right: 20px;
	top: 40px;
}

.buttons {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 35px 20px 0 0;
}

.bsize {
	width: 170px;
	height: 100%;
}

main {
	margin-bottom: 30px;
}

/* 장바구니 */
.table {
	vertical-align: middle;
}

.table td {
	border-right: 1px solid #f7f7f7;
}

.table>tbody>tr>td>.row>img {
	width: 130px;
	height: 115px;
}

.cart-total-price {
	border: 4px solid #c8c8c8;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.price-area {
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	padding: 20px 15px 18px;
	font-size: 14px;
	line-height: 17px;
	color: #555;
	text-align: center;
}

.final-product-price, .final-delivery-charge {
	padding: 0 4px 0 5px;
	font: 700 17px/17px tahoma;
	color: #111;
}

.final-order-price {
	color: #ea0000;
	font-size: 20px;
}

.order-buttons {
	margin-top: 30px;
	text-align: center;
}

.order-buttons > .btn {
	width: 180px;
	height: 60px;
	position: relative;
	right: 20px;
}


