#content {
	display: flex;
	justify-content: center;
}
.logoimg {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.logoimg > img {
	width: 100px;
	height: 150px;
}
.categorybox {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}
.category {
	display: flex;
	list-style:none;
	margin: 0;
	padding: 0;
}
.category > li {
	padding: 20px 25px
}
.category > li > a {
	float: left;
	text-decoration: none;
	color: black;
	font-size: 13px;
}
.category li > a:hover {
    font-weight: bold;
}
.path {
	display: flex; 
	justify-content: center;
	flex-direction: column; 
	margin-top:40px; 
	padding-left: 15px; 
	padding-right: 15px;	
	width: 1200px; 
	margin-bottom: 80px;
}
.link {
	display: flex;
	margin-bottom: 5px;
	padding-left: 15px;
}
.link > i {
	display: flex; 
	align-items: center;
}
.link > a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	font-size: 13px;
	margin-top: 1px;
}
.link > a:hover {
	 font-weight: bold;
}
.ssbox {
	display: flex; 
	justify-content: space-between; 
	padding-left: 15px; 
	padding-right: 15px; 
	margin-bottom: 5px;
}
.sortbox {
	display: flex; 
	align-items: center;
}
.sort {
	cursor: pointer;
}
.sort:hover {
	 font-weight: bold;
}
.ssbox > div > form > button {
	 width: 40px;
}
#searchRst {
	display: flex; 
	align-items: center; 
	margin-left: 25px; 
	font-size: 20px;
}
.textbold {
	font-weight: bold;
}
.objectbox {
	display: flex; 
	flex-wrap: wrap; 
	margin-left: 5px;
}
.objectbox > div {
	display: flex; 
	justify-content: center;
	border: 1px solid #dcdcdc; 
	padding: 10px; 
	margin: 10px;
	cursor: pointer;
	width:270px; 
	height:300px;
}
.object {
	width: 250px;
}
.object > tbody > tr > td {
	text-align: center;	
	font-size: 13px;
}
.object > tbody > tr > td > img {
	width: 200px; 
	height: 200px; 
	margin-bottom:5px;
}
.paging {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.paging > a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: black;
}
.fixedbox {
	display:flex; 
}
.fixedbox > div {
    display: flex;
    justify-content: center;
	position: fixed;
	flex-direction: column;
	top: 30%;
	margin-left: 80px;
	width: 100px;
}
.fixedcart {
	display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    height: 35px;
}
.fixedcart > div {
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.fixedlist {
    display: flex;
    justify-content: center;
	cursor: pointer;
	text-align: center;
	border: 1px solid #dcdcdc;
	margin: 0px 8px 8px 8px;
}
.cartcnt {
	display: flex;
	flex-direction: column;
    justify-content: center;
	background: white;
	padding: 3px;
	border-radius: 100px;
	width: 18px;
	height: 18px;
	text-align: center;
	margin-left: 5px;
}
.cartcnt > a {
	text-decoration: none;
	font-size: 10px;
	color: black;
}
.cartcnt > a:hover {
	text-decoration: underline;
}
.fixedcon {
	display: flex;
	flex-direction: column;
	border: 1px solid #A9A9A9;
	border-top: none;
	padding-top: 8px;
}
.nofixed {
	display: flex;
	flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 10px;
	text-align: center;
	color: #696969;
	font-weight: bold;
}
.nofixed > i {
	font-size: 60px; 
	text-align:center; 
	color: #696969
}
.fixedtext {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	font-size: 12px;
}
.fixedlist > img {
	width: 75px; 
	height: 75px; 
	padding: 3px;
}